body, html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#destination-select-container {
  width: 90%;
  max-width: 400px; /* Adjust for smaller screens */
  margin: 0 auto; /* Removed negative margin */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* Use rgba for transparency */
  border-radius: 8px;
  color: #fff;
}

#select-destination {
  flex: 1;
  padding: 9px;
  border-radius: 8px;
  margin-left: 25px;
  margin-right: 10px;
}

#get-direction-button {
  width: 25%;
  padding: 10px 5px; /* Rounded padding */
  margin-right: 25px;
  background-color: #0100ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#a-scene {
  flex: 1;
  margin: 0 auto;
  position: fixed; /* Adjust positioning if needed */
  width: 100%;
  height: 100%;
  z-index: 0; /* Lower z-index for AR scene */
}

#map-container {
  position: fixed;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50.50%); /* Corrected for centering */
  width: 98%;
  max-width: 450px;
  height: 23vh;
  z-index: 1; /* Higher z-index for map container */
}

#map {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}